.styled-form {
  flex-grow: 1;
  position: relative;
  text-align: right;
  padding: 20px 0;
}
.errors{
  color: brown;
  position: absolute;
  font-size: 12px;
  top: 89%;
  right: 10px;
}

.inputBlock{
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

 .inputBlock:nth-child(2n){
 position: absolute;
  right: 5px;
  margin-top: -65px;
}

.inputBlock:nth-child(2n)>input{
  width: 220px;
} 