.styled-btn {
  padding         : 7px 14px;
  color           : #fff;
  background-color: transparent;
  cursor          : pointer;
  color           : #07A8F0;
  border          : 1px solid #07A8F0;
  transition      : all .5s ease-in-out;
  text-decoration : none;
}

.styled-btn:focus {
  border : none;
  outline: none;
}

.styled-btn:hover {
  background-color: #07A8F0;
  color           : #fff;
}